/* .dropdown .dropdown-menu .dropdown-item {
    font-size: 17px;
    font-weight: 300;
    color: #7f7778;
    cursor: pointer;
} */

.fontSize_header {
    font-size: 26px;
}

.desk_notify{
    margin-left: 4em;
    margin-right:4em;
}

.toggle_btn {
    font-size: 24px;
    cursor: pointer;
    height: 50px;
    margin-left: 15px;
}

.dashboard_headerTitle {
    margin-top: 4px;
    margin-left: -10px;
    /* margin-left: 2em; */
}

/* .help_button{
    margin-left: 0.5em
} */

.right_header_dashboard{
    margin-left: 5em;
}

.icon_setting{
    color: black;
}

.close_button {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5
}

.close_button:hover {
    color: #fff;
    text-decoration: none
}

/* .header_iner_dashboard{
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 99;
    padding: 10px 500px;
    -webkit-box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
    box-shadow: 0 1px 2px rgb(56 65 74 / 15%);
    margin: 0px;
} */

.header-title-logo {
    color: #676b84;
    font-size: 20px;
    width: 100%;
    border: 0;
}

.header_iner {
    padding: 4px 0px;
}


.mat-icon {
    vertical-align: middle;
    margin-right: 1rem;
  }
  .mat-list-base{
    padding-top: 0px;
  }
  .logo {
    text-align: left;
    padding: 10px;
    background: #ffffff;
  }
  .logo2 {
    text-align: left;
    width: 70rem;
    /* padding: 0 1rem 1rem 1rem; */
    padding-left: 10px;
    background: #ffffff;
    /* background: #f5f5f5; */
  }
  .logo2 img {
    /* width: 200px; */
    width: 50%;
  }
  .logo img {
    /* width: 200px; */
    width: 2.5vw;
  }
  /* .mat-divider {
    border-top-width: 2px;
    border-color: #019ed1;
  } */
  .mat-list-item {
    color: #5f5f5f !important;
    font-weight: 600;
    /* font-size: 0.8rem; */
    /* height: 44px !important; */
    /* margin-bottom: 4px; */
  }
  .mat-list-item:hover {
    color: #f2f5f7 !important;
    background: #fff!important;
  }
  .mat-list-item::ng-deep .mat-list-item-content {
    /* border-radius: 5px; */
    /* margin: 0 8px; */
    /* color: #fff; */
    margin: 0px;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }
  

  .user-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .user-image-icon {
    height: 18px;
    font-size: 16px;
  }
  .logout_nav{
    padding: 10px;
    height: 40px;
  }